@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.Models
@using ContosoCrafts.Services
@inject JsonFileProductService ProductService

<div class="card-columns">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="card-container">
            <div class="card">
                <div class="card-img" style="background-image: url('@product.Image');">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                </div>
                <div class="card-footer">
                    <button @onclick="(() => SelectProduct(product.Id))"
                            data-bs-toggle="modal" data-bs-target="#productModal" class="btn btn-primary">
                        More Info
                    </button>
                </div>
            </div>
        </div>
    }
</div>


@if (_selectedProduct != null)
{
    <div class="modal" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@_selectedProduct.Title</h5>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@_selectedProduct.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@_selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code
{
    Product? _selectedProduct;
    string? _selectedProductId;

    void SelectProduct(string productId)
    {
        _selectedProductId = productId;
        _selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
    }
}